version: '3'
volumes:
  postgres_data:
networks:
  database:
services:
  db:
    image: postgres:12
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - '5432:5432'
    networks:
      - database
    volumes:
      - ./src/db/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data/
  app:
    image: node:14
    working_dir: /usr/app
    command: bash -c "yarn && yarn run dev"
    volumes:
      - .:/usr/app
      - /usr/app/node_modules
    ports:
      - '4000:4000'
    depends_on:
      - db
    environment:
      - NODE_ENV=development
      - DB_HOST=db
    networks:
      - database
